URL=https://xxx.com/v1/notifications/fortune_wheel_notification/xxx-xxx-xxx/multi_input_submit
visitor_token=xxx-xxx-xxx
Host="xxx"
User-Agent="xxx"
Accept-Language="xxx"
Accept-Encoding="xxx"
Content-Type="xxx"
Pf-Widget-Version="xxx"
Content-Length="xxx"
Origin="xxx"
Connection="close"
Referer="xxx"
Sec-Fetch-Dest="xxx"
Sec-Fetch-Mode="xxx"
Sec-Fetch-Site="xxx"